body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

.left-side, .right-side {
    flex: 1;
    position: relative;
}

.left-side {
    background-color: rgb(201, 201, 201);
    min-height: 100vh; /* Define a altura mínima para ocupar pelo menos toda a altura da página */
    padding-bottom: 30%; /* Espaço extra abaixo do conteúdo para garantir que a cor de fundo seja visível */
}


.right-side {
    background-color: #ffffff; 
    overflow: hidden;
    position: relative;
    z-index: 1; /* Adicionado para garantir que o conteúdo seja exibido sobre o fundo */
    min-height: 100vh; /* Define a altura mínima para ocupar pelo menos toda a altura da página */
    padding-bottom: 30%;
}

.circle-extension {
    position: absolute;
    top: 0;
    left: 50%; 
    transform: translateX(-50%); 
    width: 100vw; 
    height: 100px; 
    background-color:rgb(201, 201, 201);
    border-radius: 0 0 100% 100%;
    z-index: -1; /* Garante que a extensão circular fique atrás do conteúdo da right-side */
}

#titulo-destaque {
    /* Estilos específicos para o h1 com o ID 'titulo-destaque' */
    color: black;
    font-size: 60px;
    /* Outros estilos */
}


.left-side h1 {
    color: rgb(5, 131, 173);

}.right-side h1{
    text-align: center;
}

.left-side a {
    color: orange; /* Define a cor laranja para os links dentro de .left-side */
}

.right-side a {
    color: orange; /* Define a cor laranja para os links dentro de .left-side */
}

