body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.left-side, .right-side {
    flex: 1;
    position: relative;
}

.left-side {
    background-color: rgb(201, 201, 201);
    padding-bottom: 30px;
}

.right-side {
    background-color: #ffffff; 
    z-index: 1; 
    padding-bottom: 30px; 
}

.circle-extension {
    position: absolute;
    top: 0;
    left: 50%; 
    transform: translateX(-50%); 
    width: 100%; 
    height: 100px; 
    background-color: rgb(201, 201, 201);
    border-radius: 0 0 100% 100%;
    z-index: -1; 
}

#titulo-destaque {
    color: black;
    font-size: 50px; 
    margin: 20px; 
}

.left-side h1 {
    color: rgb(5, 131, 173);
}

.right-side h1{
    text-align: center;
}

.left-side a, .right-side a {
    color: orange; 
}

@media only screen and (max-width: 768px) {
    .container {
        flex-direction: row; /* Mudar a direção da flexbox para linha */
        flex-wrap: wrap; /* Permitir que as colunas quebrem para a próxima linha */
    }
    
    .left-side, .right-side {
        flex: 1; /* As colunas ocupam a mesma largura */
        width: 50%; /* Define a largura para ocupar metade da linha */
        max-width: 50%; /* Define a largura máxima para ocupar metade da tela */
    }

    .left-side {
        padding-right: 10px; /* Adiciona um espaçamento interno de 10 pixels na direita da coluna esquerda */
    }

    .right-side {
        padding-left: 10px; /* Adiciona um espaçamento interno de 10 pixels na esquerda da coluna direita */
    }

    .circle-extension {
        display: none; /* Oculta o elemento "circle-extension" em dispositivos móveis */
    }
}
