body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.left-side, .right-side {
    flex: 1;
    position: relative;
}

.left-side {
    background-color: rgb(201, 201, 201);
    min-height: 100vh;
    padding-bottom: 30px;
}

.right-side {
    background-color: #ffffff; 
    position: relative;
    z-index: 1; 
    min-height: 100vh; 
    padding-bottom: 30px; 
}

.circle-extension {
    position: absolute;
    top: 0;
    left: 50%; 
    transform: translateX(-50%); 
    width: 100vw; 
    height: 100px; 
    background-color:rgb(201, 201, 201);
    border-radius: 0 0 100% 100%;
    z-index: -1; 
}

#titulo-destaque {
    color: black;
    font-size: 30px; 
}

.left-side h1 {
    color: rgb(5, 131, 173);
}

.right-side h1{
    text-align: center;
}

.left-side a, .right-side a {
    color: orange; 
}

@media only screen and (max-width: 768px) {
    .left-side, .right-side {
        flex: none; /* Remover flex para permitir que eles se ajustem ao conteúdo */
        width: 100%; /* Definir a largura como 100% para ocupar toda a largura da tela */
    }
}
