body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: black;
    color: white;
    text-align: left;
}

.main-header { 
    border-bottom: 1px solid white; 
    padding: 15px;
    overflow: auto; /* Adicionamos overflow para conter os elementos float */
}

.nav-header {
    padding: 10px 0;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

header a {
    color: white; 
    text-decoration: none;
}

header a:hover {
    text-decoration: underline; 
}

.nav-header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

.nav-header nav ul li {
    display: inline;
    margin: 0 15px;
}

.nav-header nav ul li a {
    font-size: 24px;
}

/* Adicionamos um estilo para os links à esquerda e à direita */
.left-link {
    float: left;
}

.right-link {
    float: right;
}

.program-header {
    background-color: black;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

.program-header h1,
.program-header h2 {
    margin: 0;
    font-size: 24px;
}

.program-header h2 {
    margin-top: 10px; 
    font-size: 55px;
}

.program-header {
    position: relative; 
    text-align: center;
    color: white;
}

.full-width-image {
    width: 100vw;
    height: auto; 
    display: block;
    margin: 0; 
    padding: 0; 
}



.program-header h1,
.program-header h2 {
    margin: 0;
    font-size: 24px;
}

.program-header h2 {
    margin-top: 10px;
    font-size: 50px;
}
.full-width-header {
    position: relative;
    overflow: hidden; 
}

.full-width-header img {
    width: 100%; 
    height: auto; 
    display: block; 
    border-top: 1px solid white;
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; 
}

.sub-header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

.sub-header h1 {
    margin: 0;
    font-size: 35px;
}

.sub-header-links {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#link1 {
    color: rgb(200, 46, 214);
}

.sub-header-item {
    flex: 1;
    padding: 10px;
}

.sub-header-item h2 {
    margin-top: 0;
    font-size: 28px;
}

.sub-header-item p {
    margin-top: 5px;
    font-size: 16px;
}

.sub-header-item a {
    display: block;
    margin-top: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.sub-header-item a:hover {
    text-decoration: underline;
}

.curriculo{
    text-align: right;
    margin-top: 0;
    color: rgb(200, 46, 214);
}

@media only screen and (max-width: 768px) {

    #link1 {
        color: rgb(200, 46, 214);
    }
}